.app__header {
  background-color: #e71b24;
  width: 100%;

  padding: 3px 0;
}
.style__header { 
  display: flex;
justify-content: space-between;
padding: 0 40px;
color: #fff;
cursor: pointer;
font-weight: 600;
}