body {
  background-color: #e8f1f8;
}

.app__content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

}

.app__canvas {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.content {
  position: relative;
}


.link-without-underline {
  text-decoration: none;
  color: #000;
  font-size: 19px;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.2); /* White color with opacity */
  border-top: 3px solid #ffffff; /* White color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invalid-feedback{ 
  padding-top: 4px;
  color: #ff5454;
}